@import '../../styles/breakpoints.scss';

@mixin containerWelcome {
    display: flex;
    overflow: hidden;
    height: 100%;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #8c0a18;
    // background-image: radial-gradient(#8c0a18, #d7181f);
    background-image: radial-gradient(
        circle,
        rgba(140, 10, 24, 1) 0%,
        rgba(215, 24, 31, 1) 100%
    );

    .background-welcome {
        height: calc(100% - 100px);
        background-image: url('../../assets/images/people.png'),
            url('../../assets/images/circle.svg');
        background-size: 40%, 38% !important;
        background-repeat: no-repeat;
        background-position: 100% 100%;

        @include media('<tablet') {
            padding: 30px 20px;
            background-size: 100%, 50% !important;
        }
    }

    .background-welcome-white {
        height: calc(100% - 100px);
        background-image: url('../../assets/images/desk.png'),
            url('../../assets/images/circle-grey.svg');
        background-size: 40%, 38% !important;
        background-repeat: no-repeat;
        background-position: 100% 100%;

        @include media('<tablet') {
            padding: 30px 20px;
            background-size: 100%, 50% !important;
        }
    }

    .header-welcome {
        display: flex;
        padding: 30px 50px;
        flex-direction: row;
        justify-content: space-between;

        @include media('<tablet') {
            padding: 10px 0px;
        }

        .header-logo {
            display: flex;
            flex: 1.5;
            margin-left: 50px;

            .logo-img {
                width: 200px;

                @include media('<tablet') {
                    width: 100px;
                }
            }

            @include media('<tablet') {
                margin-left: 20px;
            }
        }

        .navbar-welcome {
            display: flex;
            flex: 1;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            color: white;
            font-family: AmpleSoft;

            @include media('<tablet') {
                display: none;
            }
        }

        .navbar-welcome-burger {
            display: none;

            @include media('<tablet') {
                display: flex;
                flex: 1;
                flex-direction: row;
                justify-content: flex-end;
                // border: 1px solid black;
                align-items: center;
                color: white;
                // font-weight: 500;
                font-family: AmpleSoft;
            }
        }

        .navbar-welcome-burger-white {
            display: none;

            @include media('<tablet') {
                display: flex;
                flex: 1;
                flex-direction: row;
                justify-content: flex-end;
                // border: 1px solid black;
                align-items: center;
                color: black;
                // font-weight: 500;
                font-family: AmpleSoft;
            }
        }
    }

    .burger-menu-wrapper {
        // display: flex;
        position: absolute;
        width: 100%;
        // height: 200px;
        padding: 20px 50px;
        // background-color: yellow;
        // border: 1px solid black;
        align-self: center;

        @include media('<tablet') {
            width: calc(100% - 40px);
            padding: 0px;
        }

        .burger-menu-list {
            display: flex;
            flex: 1;
            flex-direction: column;
            background-color: #f3f3f3;
            border-radius: 4px;

            .burger-submenu {
                margin: 10px;
                font-weight: bold;
                font-size: 18px;
            }
        }
    }

    .body-welcome-white {
        display: flex;
        flex-direction: column;
        padding: 0px 50px;
        width: 50%;
        // border: 1px solid white;

        @include media('<tablet') {
            padding: 0px;
            width: 100%;
        }

        .txt-contactus {
            margin-left: 50px;
            font-family: AmpleSoft;
            font-size: 30px;

            @include media('<tablet') {
                margin-left: 20px;
            }
        }

        .contact-wrapper {
            display: flex;
            flex-direction: row;
            margin-left: 50px;
            // border: 1px solid white;

            @include media('<tablet') {
                margin-left: 20px;
                margin-right: 20px;
            }

            @include media('<lg-phone') {
                flex-direction: column;
            }

            .contact-form {
                display: flex;
                flex-direction: column;
                flex: 1;
            }

            .contact-info {
                display: flex;
                flex-direction: column;
                flex: 1;
                // border: 1px solid white;
                // align-items: center;
                padding-left: 50px;
                @include media('<lg-phone') {
                    padding-left: 0px;
                }

                .info-email {
                    display: flex;
                    flex-direction: row;
                    color: white;
                    margin-bottom: 20px;
                }
            }
        }
    }

    .body-welcome {
        display: flex;
        // flex: 1;
        flex-direction: column;
        padding: 0px 50px;
        width: 35%;

        @include media('<tablet') {
            padding: 0px;
        }
        // border: 1px solid white;

        .body-title {
            font-size: 50px;
            font-weight: 500;
            margin-bottom: 30px;
            color: white;
            font-family: AmpleSoft;
            margin-left: 50px;

            @include media('<tablet') {
                margin-left: 20px;
                font-size: 34px;
            }
        }

        .body-trigger-drawer {
            padding: 5px 20px;
            margin-left: 50px;
            border: 1px solid white;
            border-radius: 12px;
            width: 107px;
            color: white;
            display: flex;
            justify-content: center;
            font-size: 18px;
            font-family: AmpleSoft;
            cursor: pointer;

            &:hover {
                border: 1px solid black;
            }

            @include media('<tablet') {
                margin-left: 20px;
            }
        }

        .drawer-welcome {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex: 1;
            height: 100%;
        }
    }

    .footer-welcome {
        display: flex;
        position: fixed;
        left: 0;
        bottom: 0;
        background-color: black;
        width: 100%;
        height: 100px;
        flex-direction: row;
        padding: 10px 30px;

        @include media('<lg-phone') {
            flex-direction: column;
            height: auto;
        }

        .footer-logo {
            display: flex;
            flex: 1.5;
            // margin-left: 100px;
            align-items: center;

            @include media('<tablet') {
                flex: 1;
            }

            .logo-white-img {
                height: 65px;
                margin-right: 30px;

                @include media('<tablet') {
                    height: 40px;
                }
            }

            .secured-img {
                height: 50px;
                @include media('<tablet') {
                    height: 30px;
                }
            }
        }

        .footer-menu {
            display: flex;
            flex: 1;
            flex-direction: row;
            justify-content: space-around;
            color: white;
            margin-top: 10px;

            @include media('<lg-phone') {
                justify-content: space-between;
            }

            .menu-title {
                font-weight: 500;
                font-family: AmpleSoft;
            }

            .menu-subtitle {
                font-size: 10px;
                font-family: PoppinsLight;
                font-weight: 300;
                cursor: pointer;
                text-decoration: none;
                color: white;
            }
        }
    }
}

.container-welcome {
    @include containerWelcome();
}

.container-welcome-white {
    @include containerWelcome();
    background-color: white;
    background-image: radial-gradient(white, white);
}

.btn-contact-us {
    background-image: linear-gradient(90deg, #8c0018, #d7181f);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 4px 11px;
    color: white;
    // margin: 20px 0px;
    cursor: pointer;
    height: 44px;
    font-weight: bold;
    margin-bottom: 10px;
}
