@import '../styles/breakpoints.scss';

.input1 {
    border: 1px solid #d9d9d9;
    padding: 4px 11px;
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    background-color: #eaeaea;
    align-items: center;
    // width: 250px;
    height: 40px;

    &:hover {
        border: 1px solid black;
    }

    .input-inner {
        border: none;
        outline: none;
        background-color: transparent;
        width: 100%;
    }

    .input-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.textarea1 {
    border: 1px solid #d9d9d9;
    padding: 4px 11px;
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    background-color: #eaeaea;
    align-items: center;
    // width: 250px;
    height: 80px;

    &:hover {
        border: 1px solid black;
    }

    .input-inner {
        border: none;
        outline: none;
        background-color: transparent;
        width: 100%;
        resize: none;
    }

    .input-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.txt-error {
    color: #ff4d4f;
    font-family: PoppinsLight;
    text-align: start;
    font-size: 12px;
    align-self: left;
}

.c-main-layout {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box !important;

    .wrapper-header {
        position: fixed;
        box-sizing: border-box !important;
        width: 100%;
        height: 200px;
        background-image: url('../assets/images/header.png');
        background-repeat: no-repeat;
        background-position-x: right;
        background-size: cover;
        top: -1px;
        display: flex;
        z-index: 1000;
        @include media('>1280px') {
            background-position-y: center;
        }
    }
    .header-background-2 {
        position: fixed;
        box-sizing: border-box !important;
        width: 100%;
        height: 234px;
        top: -1px;
        display: flex;
        background-image: linear-gradient(to right, #5a0000, #000000);
        @include media('<990px') {
            display: none;
        }
    }
    .wrapper-content {
        position: relative;
        box-sizing: border-box !important;
        margin-left: 310px;
        margin-top: 200px;
        height: 100%;
        width: calc(100% - 310px);
        background: transparent;
        padding: 0px 75px;
        transition: all 0.3s;
        @include media('<=tablet') {
            width: 100%;
            margin-left: 0px;
        }
        &.active {
            transition: all 0.3s;
            margin-left: 50px;
            width: calc(100% - 50px);
            @include media('<=tablet') {
                width: 100%;
                margin-left: 0px;
            }
        }
    }
}
