.container-recording {
    display: flex;
    flex-direction: column;
    // background-color: lightblue;
    // padding: 30px;
    // border-radius: 8px;

    .card-content {
        display: flex;
        flex-direction: column;
        // background-color: red; /* For browsers that do not support gradients */
        background-image: linear-gradient(to bottom, white, #f8f9f9, #f1f2f2);
        border-radius: 12px;
        padding: 30px;
        margin-bottom: 30px;

        .card-content-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 30px;

            .card-content-toolbar {
                display: flex;
                flex-direction: row;
                align-items: center;
                flex: 1;
                justify-content: space-between;
                // border: 2px solid red;
            }
        }

        .card-content-title {
            color: #d6171f;
            font-weight: 600;
            flex: 1;
            // margin-bottom: 20px;
        }
    }
}
