.container-home {
    display: flex;
    flex-direction: column;
    // background-color: lightblue;
    // padding: 30px;
    border-radius: 8px;

    .card-content {
        display: flex;
        flex-direction: column;
        background-color: red; /* For browsers that do not support gradients */
        background-image: linear-gradient(to bottom, white, #f8f9f9, #f1f2f2);
        border-radius: 12px;
        padding: 30px;
        margin-bottom: 30px;

        .card-content-title {
            color: #d6171f;
            font-weight: 600;
            margin-bottom: 20px;
        }

        .table-tenant {
            display: flex;
            flex-direction: column;

            .table-tenant-row {
                flex-direction: row;
                display: grid;
                grid-template-columns: 1fr 3fr;
                width: 100%;
                .table-tenant-row-1 {
                    display: flex;
                    flex-direction: row;
                    background-color: #f4f2f2;
                    border: 1px solid #dcdcdc;
                    padding: 15px;
                    word-break: break-all;
                }

                .table-tenant-row-2 {
                    display: flex;
                    flex-direction: row;
                    background-color: white;
                    border: 1px solid #dcdcdc;
                    padding: 15px;
                    word-break: break-all;
                }
            }

            .table-tenant-row-wrapper-2 {
                flex-direction: row;
                display: grid;
                grid-template-columns: 1fr 1fr;
                width: 100%;

                .table-tenant-row-3 {
                    display: flex;
                    flex-direction: row;
                    padding: 15px;
                    background-color: #f4f2f2;
                    border: 1px solid #dcdcdc;
                    word-break: break-all;
                }
                .table-tenant-row-4 {
                    display: flex;
                    flex-direction: row;
                    background-color: white;
                    border: 1px solid #dcdcdc;
                    padding: 15px;
                    word-break: break-all;
                }
            }
        }

        .package-info-1 {
            background-color: red; /* For browsers that do not support gradients */
            background-image: linear-gradient(
                to right bottom,
                #8b1a19,
                #d52e21
            );
            padding: 15px 30px;
            border-radius: 11px;
            color: white;
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;

            .package-info-1-title {
                font-weight: bold;
            }
        }

        .package-info-2 {
            display: flex;
            flex-direction: row;
            flex: 1;
            justify-content: space-between;
            width: 100%;

            .info-2-card {
                display: flex;
                // flex: 1;
                flex-direction: column;
                background-color: red; /* For browsers that do not support gradients */
                background-image: linear-gradient(to right, #8b1a19, #d52e21);
                justify-content: center;
                align-items: center;
                border-radius: 11px;
                width: 30%;
                padding: 10px 0px;
            }
        }
    }
}
