@mixin listanchor {
    background-color: #172b4d;
    word-break: keep-all;
    white-space: nowrap;
    width: 260px;
    background-repeat: repeat;
}

.sidenav {
    width: 310px;
    background-color: #011627;
    position: fixed;
    top: 0;
    z-index: 1100;
    height: 100%;
    transition: all 0.3s;
    transition-timing-function: linear;
    overflow: hidden;
    word-break: keep-all;
    background-image: linear-gradient(#8c0018, #d7181f);
    display: flex;
    flex-direction: column;

    &.active {
        transition: all 0.3s;
        transition-timing-function: linear;
        width: 50px;
        overflow: hidden;
        word-break: keep-all;
        padding-left: 0px;
    }

    .div-under-sidenav {
        display: flex;
        flex-direction: row;

        ul {
            padding: 0;
            width: 258px;

            li {
                list-style-type: none;
                &:active {
                    @include listanchor();
                }
                a {
                    color: #eaecef;
                    text-decoration: none;
                    font-size: 16px;
                    display: block;
                    padding: 20px 0px;
                    margin: 0;
                    overflow: hidden;
                    word-break: keep-all;
                    white-space: nowrap;
                    width: 100%;

                    &:hover {
                        @include listanchor();
                    }
                }
            }
        }

        .link-btn {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 15px 0px 15px 50px;
            width: 100%;

            &.active {
                padding: 15px 0px 15px 15px;
            }
        }
    }

    .bot-burger-container {
        position: absolute;
        z-index: 10;
        bottom: 0;
        margin-left: 12px;
        width: 100%;
    }
}
