.sidenav {
    width: 220px;
    background-color: #011627;
    position: fixed;
    z-index: 10;
    /* left: ; */
    height: 100%;
    /* padding: 0 10px; */
    transition: all 0.7s;
    overflow: hidden;
    word-break: keep-all;
    background-image: linear-gradient(#8c0018, #d7181f);

    &.active {
        left: 0;
        width: 50px;
        overflow: hidden;
        word-break: keep-all;
    }
}
